---
---

@import "{{ site.theme }}";

/* Override Architect theme fonts with Cayman theme fonts */
body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-size: 16px;
  line-height: 1.5;
  color: #606c71;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-weight: normal;
  color: #159957;
}

code, pre {
  font-family: "Courier New", Courier, monospace !important;
}

a {
  color: #1e6bb8;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
